# Compiled files

*.pdb
*.cache

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstats

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

# Visual Studio files
.vs/
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb